@font-face{
    font-family: GothamRounded-Bold;
    src: url('../fonts/GothamRoundedBold_21016.ttf');
}

.but_css{
    width: 192px;
    height: 51px;
    background-color: #16a085;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: GothamRounded-Bold;
    font-size: .8em;
    letter-spacing: 5px;
}
.button_div{
    text-align: center;
}