@font-face{
    font-family: RobotoBlack;
    src: url('../../fonts/3953.ttf');
}

h2{
    text-transform: uppercase;
}

section{
    font-size: 1.1em;
    margin: 34px auto;
}

.text_div{
    margin: 56px auto;
    width: 1056px;
    font-family: RobotoBlack, Courier;
    color: #373737;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
}