@font-face{
    font-family: RobotoBlack;
    src: url('../fonts/3953.ttf');
}
.footer_div{
    text-align: right;
    width: 1056px;
    margin: 141px auto auto;
    font-family: RobotoBlack, Courier;
    color: #373737;
    letter-spacing: 2px;
}