.navigator{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    color:#16a085;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}